<div class="table-container">
  <table class="table-calendar">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <% @theaters.each do |theater| %>
          <th scope="col">Theater <%= theater.id %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% if @reservations_on_date.present? %>
        <% @reservations_on_date.each do |reservation| %>
          <%= reservation.start_time.strftime("%b %d, %Y - %l:%M %p") %>
        <% end %>
      <% end %>
      <% (10..23).each do |hour| %>
        <% (0..3).each do |quarter| %>
          <% time = @selected_datetime.in_time_zone.change(hour: hour, min: quarter * 15) %>
          <% next_time = time + 15.minutes %>
          <tr>
            <th scope="row">
              <%= time.strftime("%l:%M %p - ") %>
              <%= next_time.strftime("%l:%M %p") %>
            </th>
            <% @theaters.each do |theater| %>
              <td>
                Test
              </td>
            <% end %>

          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
