<div class="table-container">
  <table class="table-calendar">
    <thead>
      <tr>
        <th scope="col">Time</th>
        <% @theaters.each do |theater| %>
          <th scope="col">Theater <%= theater.id %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% if @reservations_on_date.present? %>
        <% @reservations_on_date.each do |reservation| %>
          <%= reservation.start_time.strftime("%b %d, %Y - %l:%M %p") %>
        <% end %>
      <% end %>
      <% (10..23).each do |hour| %>
        <% (0..3).each do |quarter| %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
