<h1>New reservation</h1>

<%= render "shared/calendar", theaters: @theaters, start_time: @reservation.start_time, theater_id: @reservation.theater_id  %>

<%= render "form", reservation: @reservation %>

<br>

<div>
  <%= link_to "Back to reservations", reservations_path %>
</div>
