<h1>New reservation</h1>

<%= render "shared/calendar", theaters: @theaters %>

<%= render "form", reservation: @reservation %>

<br>

<div>
  <%= link_to "Back to reservations", reservations_path %>
</div>
