/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.reserved-cell {
  background-color: #ccc;
}

.selected-time {
  background-color: yellow; /* Or any color you want to use */
}

.table-container {
  max-height: 450px; /* Set the maximum height of the scrollable window */
  overflow-y: auto; /* Enable vertical scrolling */
}

.table-calendar {
  font-size: 10px; /* Adjust the font size as needed */
  border-collapse: collapse; /* Collapse cell borders to create a cleaner look */
  width:100%
}

.table-calendar th,
.table-calendar td {
  padding: 0px 8px; /* Adjust the padding to make the cells narrower */
  border-bottom: 1px solid #ccc;
  flex: 1;
}

.table-calendar th {
  height: 8px; /* Adjust the height of the header row cells */
  text-align: center;
}

.table-calendar td {
  height: 8px; /* Adjust the height of the data cells */
  text-align: center; /* Center the content vertically */
}
