<h1>Theaters</h1>
<div class="col-md-12">
  <div id="calendar">
    <%= render 'shared/calendar', theaters: @theaters %>
  </div>
</div>


<div>
  <h1>Don't want to delete this yet.</h1>
</div>

<div id="theaters">
  <% @theaters.each do |theater| %>
    <%= render theater %>
    <p>
      <%= link_to "Show this theater", theater %>
    </p>
  <% end %>
</div>

<%= link_to "New theater", new_theater_path %>
